.dialog_icon_share {
  @include flex(column, center, flex-start);
  @include shadow-drop3;
  gap: 12px;
  width: calc(100% + 8px);
  padding: 8px 4px;
  border-radius: 5px;
  background-color: $white;

  li {
    @include font($body2, $bold, $main-font);
    width: 100%;
    padding: 8px 6px;

    border-radius: 5px;

    &:hover {
      background-color: $muscat;
    }

    a {
      @include font($body2, $bold, $main-font);
    }

    button {
      @include font($body2, $bold, $main-font);
    }
  }
}
