.section {
  margin-top: 64px;
  @include flex(row, flex-start);
  gap: 32px;
  @include font($h4, $semibold);

  @media (max-width: 800px) {
    @include font($body1, $semibold);
    gap: 20px;
  }

  @include mobile {
    @include font($body1, $semibold);
    gap: 16px;
  }

  @media (max-width: 500px) {
    @include font($caption, $semibold);
    gap: 10px;
  }
}

.defualt {
  color: $black;
}
