.section {
  margin-top: 64px;
  @include flex(row, flex-start);
  gap: 32px;
  font-size: 24px;
  font-weight: 600;
  transition: 0.5s;

  @media (max-width: 710px) {
    @include font($h5, $semibold);
    margin-top: 40px;
    gap: 20px;
  }
}

.defualt {
  color: $black;
}

.mobileTab {
  width: 100%;
  @include flex(row, space-between);
  margin-top: -20px;
}

.selectBox {
  width: 200px;
}
