.NFT_detail_transction_auction {
  @include flex(column, center, center);
  gap: 48px;
  width: 100%;
  height: 480px;
  padding: 0px 24px;

  @include tablet {
    height: 424px;
    padding: 0px 40px;
  }

  .NFT_detail_transaction_description {
    align-self: flex-start;
    > p {
      @include font($body2, $medium, $black300);
      line-height: 24px;
      display: inline;

      @include tablet {
        display: block;
      }
    }

    strong {
      color: $black350;
    }
  }
}
