.NFT_detail_transction_auction {
  @include flex(column, center, flex-start);
  gap: 48px;
  width: 100%;
  padding: 16px 24px;

  @include tablet {
    padding: 32px 40px;
  }

  .NFT_detail_transaction_description {
    > p {
      @include font($body2, $medium, $main-font);
      line-height: 24px;
      display: inline;

      @include tablet {
        display: block;
      }
    }
  }

  .NFT_detail_transaction_price {
    @include flex(row, space-between, center);
    width: 100%;

    .NFT_detail_transaction_price_content {
      @include flex(column, flex-start, flex-start);
      @include font($body2, $medium, $main-font);
      gap: 8px;

      strong {
        font-size: $h5;
      }
    }

    .NFT_detail_transaction_price_description {
      width: 50%;
      @include font($caption, $regular, $black100);

      @include tablet {
        width: 60%;
        font-size: $body2;
        line-height: 24px;
      }

      p {
        display: inline;
        text-align: end;

        @include tablet {
          display: block;
        }
      }

      strong {
        font-weight: $semibold;
        color: $main-font;
      }
    }
  }
  .NFT_detail_transaction_input {
    @include flex-center;
    width: 100%;

    label {
      width: 30%;
      font-weight: $bold;
    }
    input {
      width: 70%;
    }
  }

  .NFT_detail_transaction_button {
    width: 100%;
  }
}

.status-true {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr;
  gap: 32px;
}

.status-false {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  gap: 0px;
}
