.card_list {
  width: 100%;
  @include grid(calc((100% - 20px) / 2));
  column-gap: 20px;
  row-gap: 24px;

  @include tablet {
    @include grid(calc((100% - 40px) / 3));
    column-gap: 20px;
    row-gap: 40px;
  }

  @include laptop {
    @include grid(calc((100% - 60px) / 4));
    column-gap: 20px;
    row-gap: 48px;
  }

  @include desktop {
    @include grid(calc((100% - 128px) / 5));
    column-gap: 32px;
    row-gap: 60px;
  }
}
