.card_list {
  width: 100%;
  @include grid(40%);
  column-gap: 20px;
  row-gap: 24px;

  @include tablet {
    @include grid(30%);
    column-gap: 20px;
    row-gap: 32px;
  }

  @include laptop {
    @include grid(20%);
    column-gap: 20px;
    row-gap: 40px;
  }

  @include desktop {
    @include grid(15%);
    column-gap: 32px;
    row-gap: 48px;
  }
}
