@mixin font($fs: $body1, $fw: $regular) {
  font-size: $fs;
  font-weight: $fw;
}

@mixin font-button($fs: $body1, $fw: $bold, $fc: $main-font) {
  font-size: $fs;
  font-weight: $fw;
  color: $fc;
}
