@mixin flex($flex-d: row, $juco: center, $alit: center) {
  display: flex;
  flex-direction: $flex-d;
  justify-content: $juco;
  align-items: $alit;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin layout {
  width: 100%;

  @media #{$tablet} {
    max-width: 840px;
  }

  @media #{$pc} {
    max-width: 1040px;
  }
}
