@mixin flex($flex-d: row, $juco: center, $alit: center) {
  display: flex;
  flex-direction: $flex-d;
  justify-content: $juco;
  align-items: $alit;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin mobile {
  @media (max-width: #{$breakpoint-tablet - 1px}) {
    main {
      margin: auto #{$margin-mobile};
    }
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    main {
      margin: auto #{$margin-tablet};
    }
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    main {
      margin: auto #{$margin-desktop};
    }
    @content;
  }
}
