@mixin flex($flex-d: row, $juco: center, $alit: center) {
  display: flex;
  flex-direction: $flex-d;
  justify-content: $juco;
  align-items: $alit;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid($columns: 25%) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($columns, auto));
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@mixin hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin mobile {
  @media (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$breakpoint-laptop}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin basic-layout {
  margin: auto 16px;

  @media (min-width: 600px) {
    margin: auto 32px;
    max-width: 840px;
  }

  @media (min-width: 905px) {
    margin: 0 auto;
    max-width: 840px;
  }

  @media (min-width: #{$breakpoint-laptop}) {
    margin: auto 160px;
    max-width: 1040px;
  }

  @media (min-width: #{$breakpoint-desktop}) {
    margin: 0 auto;
    max-width: 1240px;
  }
}
