nav {
  @include shadow-nav;
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0 30px;
  transition: opacity 0.5s linear;
  z-index: 1000;
  @include laptop {
    @include flex(row, space-between);
    padding: 0 30px;
  }
  &:hover {
    opacity: 1;
    background-color: $white;
  }
  img {
    max-width: 94px;
    aspect-ratio: 94/39;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 998;
}

.nav_opacity {
  opacity: 0;
}

.nav_head {
  @include flex(row, space-between, center);
  width: 100%;
  margin-top: 8px;
  @include laptop {
    width: auto;
    margin-top: 0px;
    margin-right: 40px;
  }
}

.nav_row {
  display: none;
  @include laptop {
    @include flex(row, space-between);
    gap: 20px;
    width: 90%;
  }
}

.nav_down {
  @include flex(column, flex-start, flex-start);
  width: 240px;
  background-color: $white;
  position: absolute;
  right: 0;
  z-index: -10;
  height: calc(100vh - 64px);
  padding-left: 30px;
  padding-bottom: 30px;
  @include laptop {
    @include flex(row, space-between);
    width: 90%;
    background-color: transparent;
    height: 64px;
    position: relative;
    padding-bottom: 0;
  }
}

.navBtn {
  position: relative;
  width: 48px;
  height: 48px;
  border: 0;
  color: transparent;
  @include laptop {
    display: none;
  }
}
.navBtn::before,
.navBtn::after {
  content: "";
  position: absolute;
}
.navBtn::before {
  top: 14px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 24px;
  height: 4px;
  background: $black350;
  box-shadow: 0 8px 0 $black350, 0 16px 0 $black350;
}

.nav_title {
  position: absolute;
  top: 0;
  width: 1px;
  height: 1px;
  font-size: 1px;
  overflow: hidden;
  opacity: 0;
}

.nav_list {
  @include flex(column, center, flex-start);
  margin-top: 40px;
  width: 90%;
  @include laptop {
    @include flex(row, space-between);
    width: 30%;
    max-width: 300px;
    margin-top: 0;
  }

  a {
    @include font($h5, bold, $main-font);
    margin-bottom: 40px;
    @include laptop {
      margin-bottom: 0;
    }
  }
}

.wallet {
  font-size: 32px;
  width: 100%;
}

// dropdown
.dropdown {
  position: relative;
  display: inline-block;
  &:hover {
    .dropdown_content {
      @include flex(column);
    }
  }
}

.dropdown_content {
  @include shadow-drop5;
  display: none;
  position: absolute;
  top: 0;
  right: 70px;
  background-color: $white;
  min-width: 117px;
  z-index: 1;
  border-radius: $radius-modal;
  @include laptop {
    top: 25px;
    left: 0;
  }
  .dropdown_item {
    @include font($caption, $bold, $main-font);
    padding: 8px 13px;
    display: block;
    height: 90%;
    width: 90%;
    border-radius: $radius-modal;
    &:hover {
      background-color: $ocean;
    }
  }
}

.dropdown_user {
  position: relative;
  display: inline-block;
  &:hover {
    .dropdown_content_user {
      @include flex(column);
    }
  }
}

.dropdown_content_user {
  @include shadow-drop5;
  display: none;
  position: absolute;
  top: -80px;
  right: 160px;
  background-color: $white;
  min-width: 117px;
  z-index: 1;
  border-radius: $radius-modal;
  @include laptop {
    top: 50px;
    left: -40px;
  }
  .dropdown_item {
    @include font($caption, $bold, $main-font);
    padding: 8px 13px;
    display: block;
    height: 90%;
    width: 90%;
    border-radius: $radius-modal;
    &:hover {
      background-color: $muscat;
    }
  }
}

.nav_user {
  @include flex(row);
  margin-top: auto;
  @include laptop {
    margin-top: 0;
  }
}

.nav_username {
  margin-left: 20px;
  @include laptop {
    display: none;
  }
}
