.profile_image {
  position: relative;
  flex-shrink: 0;

  .certification {
    @include flex(row, center, center);
    @include shadow-drop4;
    position: absolute;
    transform: translate(210%, -100%);
    border: 1px solid $white;
    border-radius: 50%;
    fill: $white;
    background-color: $ocean200;
    transform: translate(200%, -100%);

    svg {
      width: 70%;
      height: 70%;
    }
  }
}

.size_xxxl {
  .certification {
    @include flex(row, center, center);
    @include shadow-drop4;
    position: absolute;
    transform: translate(210%, -100%);
    border: 1px solid $white;
    border-radius: 50%;
    fill: $white;
    background-color: $ocean200;
    transform: translate(305%, -120%);
    width: 24%;
    max-width: 34px;
    aspect-ratio: 1/1;

    svg {
      width: 60%;
      height: 60%;
    }
  }
}

.profile_square {
  border-radius: $radius-card;
  aspect-ratio: 1/1;
  object-fit: cover;
  background-color: $muscat100;
}

img {
  width: 100%;
}

.profile_round {
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  background-color: $muscat100;
}

.size_xxs {
  width: 48px;
}

.size_xs {
  width: 64px;
}

.size_sm {
  width: 72px;
}

.size_md {
  width: 80px;
}

.size_lg {
  width: 88px;
}

.size_xl {
  width: 96px;
}

.size_xxl {
  width: 104px;
}

.size_xxxl {
  width: 140px;
}
