.profile_square {
  border-radius: $radius-card;
  aspect-ratio: 1/1;
  object-fit: cover;
  background-color: $muscat100;
}

.profile_round {
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  background-color: $muscat100;
}

.size_xs {
  width: 64px;
}

.size_sm {
  width: 72px;
}

.size_md {
  width: 80px;
}

.size_lg {
  width: 88px;
}

.size_xl {
  width: 96px;
}

.size_xxl {
  width: 104px;
}
