.follow_modal {
  @include flex(column, center, center);
  width: 500px;
  height: 500px;
  
  .header {
    @include flex(row, flex-start, center)
  }

  ul {
    @include flex(column, flex-start, center);
    @include hide-scroll;
    width: 100%;
    height:300px;
    overflow-y: scroll;
  }

}