.follow_modal {
  @include flex(column, center, center);
  @include shadow-modal;
  width: calc(100vw - 32px);
  max-width: 624px;
  padding: 32px 32px 60px 32px;
  gap: 32px;
  border-radius: $radius-modal;

  @include mobile {
    padding: 24px 24px 52px 24px;
  }
  
  .header {
    @include flex(row, flex-start, center);
    @include font($h4, $semibold);
    width: 100%;
    gap: 32px;

    button {
      transform: translateY(8%);
    }
  }

  .follow_tab {
    @include flex-center;
    width: 100%;
    gap: 0px;

    button {
      @include font($h5, $medium);
      width: 50%;
      padding: 12px 0px 16px 0px;
      color: $black;
      border-bottom: 2px solid $black;
    }
  }

  .follow_tab_FOLLOWER {
    .followers_tab {
      color: $black350;
      border-bottom: 2px solid $black350;
    }
  }

  .follow_tab_FOLLOWING {
    .following_tab {
      color: $black350;
      border-bottom: 2px solid $black350;
    }
  }

  ul {
    @include flex(column, flex-start, center);
    @include hide-scroll;
    width: 100%;
    height:480px;
    gap: 40px;
    padding: 0 32px;
    overflow-y: scroll;
  }

}