.artist_ranking_list {
  @include flex(column, flex-start, stretch);
  width: 100%;
  gap: 32px;

  @media (min-width: 800px) {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 890) {
    column-gap: 16px;
  }
  @include laptop {
    column-gap: 32px;
  }
  @include desktop {
    column-gap: 100px;
  }
}

.loading {
  @include flex(column);
  @include font($h5, $semibold);
  gap: 10px;
}

.no_data {
  @include font($h5, $semibold);
}
