.header {
  height: 100px;
  @include flex(row, flex-start);
  position: relative;
  margin-bottom: 64px;
}

.nickname {
  @include font($h5, $medium);
}

.address {
  @include font($body1, $medium, $white350);
  overflow: hidden;
  text-overflow: ellipsis;
  width: 180px;
}

.addressSection {
  @include flex(row, space-between, center);
  width: 200px;
  cursor: pointer;
}

.section {
  @include flex(row, space-between, flex-start);
  margin-left: 164px;
  width: 100%;
}

.leftSection {
  position: relative;
  @include flex(column, flex-start, flex-start);
  height: 60px;
  gap: 8px;
}

.rightSection {
  width: 160px;
}

.profilImage {
  position: absolute;
  top: -64px;
  left: 10px;
}

.followSection {
  @include flex(row, space-between, flex-start);
  text-align: center;
  margin-bottom: 8px;
}

.followTitle {
  @include font($body2, $medium);
}

.followNumber {
  @include font($body1, $bold);
}
