// White
$white: #ffffff;
$white100: #fcfcfc;
$white150: #efefef;
$white200: #f5f5f5;
$white250: #e8e8e8;
$white300: #dfdfdf;
$white350: #c8c8c8;
$white400: #b7b7b7;

// Black
$black: #949494;
$black100: #777777;
$black150: #616161;
$black200: #555555;
$black250: #3f3f3f;
$black300: #323232;
$black350: #2a2a2a;
$black400: #1f1f1f;
$black450: #000000;

// Navy
$navy: #c8cfdc;
$navy100: #98a0b3;
$navy150: #707991;
$navy200: #464f69;
$navy250: #323b54;
$navy300: #262f4a;
$navy350: #202a43;

// Sherbet
$sherbet: #f8ca8f;
$sherbet100: #fb9e52;
$sherbet150: #f06875;

// Muscat
$muscat: #dbfb7c;
$muscat100: #c4ecb0;
$muscat150: #aee3d4;
$muscat200: #8ab7a0;
$muscat250: #33cc92;

// Marmalade
$marmalade: #f9eeb6;
$marmalade100: #ffd77f;
$marmalade150: #f7ea5f;

// Lilac
$lilac: #f6bdcd;
$lilac100: #fab2f2;
$lilac150: #d3c8ff;
$lilac200: #d6b0eb;
$lilac250: #ab3de0;

// Ocean
$ocean: #abfaff;
$ocean100: #9cdef8;
$ocean150: #acbafa;
$ocean200: #7fbcff;
$ocean250: #709afa;

// 자주 사용하는 색
$primary-color: $muscat;
$danger-color: $sherbet150;
$main-font: $black350;

// 모달 뒷 배경
$modal-bg: rgba(0, 0, 0, 0.2);
