// font size
$h1: 48px;
$h2: 40px;
$h3: 32px;
$h4: 28px;
$h5: 20px;
$body1: 18px;
$body2: 16px;
$caption: 14px;

// font weight
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;
$light: 300;
$extralight: 200;

// letter spacing
$ls-btn: 1.25px;
