// margin
$margin-mobile: 16px;
$margin-tablet: 32px;
$margin-desktop: 200px;

// breakpoints
$breakpoint-tablet: 600px;
$breakpoint-laptop: 1240px;
$breakpoint-desktop: 1440px;

// navbar
$nav_height: 64px;
