.follow_article {
  @include flex(row, space-between, center);
  width: 100%;

  .user_info {
    @include flex(row, flex-start);

    .user_text_info {
      @include flex(column, center, flex-start);
    
      .nickname {
        @include font($body2, $semibold);
      
      }
      
      .wallet {
        @include flex(row, flex-start);
      
        .wallet_address {
          @include font($body2, $regular, $black100);
          width: 106px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .button_section {
    @include font($h1, $bold);
  }
}


