.form_container {
  @include flex(column, flex-start, flex-start);
  gap: 40px;
}

.image_title_description {
  @include flex(column, flex-start, flex-start);
  width: 100%;
  gap: 40px;
  flex-wrap: wrap;
  @include tablet {
    @include flex(row, flex-start, flex-start);
  }
}

.image {
  aspect-ratio: 1/1;
  @include tablet {
    width: 400px;
  }
}

.title_description {
  @include flex(column, flex-start, flex-start);
  width: 100%;
  gap: 40px;
  flex: 1;
  @include tablet {
    min-width: 400px;
  }
}

.form_item {
  width: 100%;
}

.form_title {
  @include font($body1, $semibold);
}

.form_margin {
  margin-bottom: 16px;
}

.submit_button {
  @include flex-center;
  width: 100%;
  margin-bottom: 20px;
}
