$bg-palette: (
  primary: $muscat,
  ocean: $ocean,
  blackberry: $navy350,
  danger: $sherbet150,
  light: $white,
);

.disabled {
  background: $white300;
  border: 2px solid $white300;
}

@each $bg, $color in $bg-palette {
  .bg-#{$bg} {
    background: $color;
    border: 2px solid $color;

    &.outline {
      background: transparent;
      color: $color;
    }

    &.none {
      background: transparent;
      border: 2px solid transparent;
      color: $color;
    }

    &.white {
      color: $white;
    }

    &.black {
      color: $black350;
    }

    &.white:active {
      background: $white;
      border: 2px solid $color;
      color: $color;
    }

    &.black:active {
      background: $white;
    }

    &.outline:active {
      border: 2px solid transparent;
    }

    &.none:active {
      opacity: 0.5;
    }
  }
}

.button {
  border-radius: $radius-btn;
  @include font-button;

  &.default {
    padding: 8px 40px 8px 40px;
  }

  &.small {
    padding: 8px 30px 8px 30px;
  }

  &.xsmall {
    padding: 8px 20px 8px 20px;
  }

  &.fillContainer {
    width: 100%;
    padding: 8px;
  }
}
