.input_image_label {
  display: inline-block;
  width: 100%;
  aspect-ratio: 1/1;

  img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  div {
    @include flex(column, center, center);
    gap: 16px;
    width: 100%;
    aspect-ratio: 1/1;

    span {
      font-size: 5em;
      color: $black300;
    }

    .input_image_desc {
      font-size: 1em;
      font-weight: 600;
    }
  }
}

.input_image_square {
  border-radius: 8px;
  border: 2px solid $main-font;
}

.input_image_round {
  border-radius: 50%;
  background-color: $muscat100;
}

.input_error {
  @include font($caption, $regular, $sherbet150);
  margin-top: 10px;
}
