.NFT_detail_sell {
  @include flex(column, center, flex-start);
  gap: 40px;
  width: calc(100vw - 32px);
  max-width: 624px;
  padding: 40px 40px 32px 40px;

  @include tablet {
    padding: 60px 60px 40px 60px;
  }

  @include laptop {
    width: 40vw;
    max-width: 624px;
    padding: 80px 80px 60px 80px;
  }

  h1 {
    @include font($h5, 800, $main-font);

    @include tablet {
      @include font($h4, 800, $main-font);
    }
  }

  .NFT_detail_sell_input {
    @include flex(column, flex-start, flex-start);
    gap: 24px;
    width: 100%;

    .NFT_detail_sell_input_count {
      width: 100%;
      .NFT_detail_sell_input_description {
        @include font($caption, $medium, $main-font);
        margin-left: 16px;
      }
      div {
        min-height: 59px;
      }
    }

    .NFT_detail_sell_input_price {
      width: 100%;
      div {
        min-height: 59px;
      }
    }
  }

  .NFT_detail_sell_price {
    margin-top: -16px;
    p {
      @include font($body2, $semibold, $main-font);
      line-height: 24px;

      @include tablet {
        @include font($body1, $semibold, $main-font);
        display: inline;
      }
    }
  }
}
