.button_icon_share {
  @include flex(row, center, center);
  width: 48px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: $white;
  span {
    color: $main-font;
    font-size: 28px;
  }
}
