.form_title {
  @include flex(column, flex-start, flex-start);
  @include laptop {
    @include flex(row, flex-start);
  }
}

.form_title_label {
  @include font($body1, $semibold);
}

.form_title_desc {
  @include font($caption, $regular, $black200);
}

.form_title_desc_bold {
  @include font($caption, $semibold, $main-font);
}

.form_property_container {
  @include flex(row, flex-start);
  width: 100%;
  gap: 8px;
}

.form_property_item {
  width: 30%;
  @include laptop {
    width: 15%;
  }
}
