.card {
  @include flex(column, center, center);
  @include shadow-modal;
  gap: 16px;
  width: 100%;
  padding-bottom: 16px;
  border-radius: $radius-card;
  background-color: $white;
  figure {
    width: 100%;

    img {
      width: 100%;
      aspect-ratio: 1/1;
      border-radius: $radius-card $radius-card 0px 0px;
    }
  }
  .card_content {
    width: 100%;
    border-radius: 0px, 0px, $radius-card, $radius-card;
    padding: 0px 12px;
    .card_content_title {
      @include font($body2, $semibold, $main-font);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 80%;
      margin-bottom: 4px;
    }
    .card_content_desc {
      @include flex(row, space-between, center);
      @include font($body2, $light, $main-font);
    }
  }
}

.red {
  color: $sherbet150;
}

.blue {
  color: $ocean250;
}
