.property_modal_container {
  @include flex(column, flex-start, center);
  margin: 24px;
  width: 80vw;
  max-width: 552px;
  height: 80vh;
  max-height: 470px;
  gap: 20px;
}

.property_modal_header {
  width: 100%;
  text-align: left;
}

.property_modal_label {
  @include font($h5, $medium);
}

.property_modal_title {
  @include flex(row, center, center);
  @include font($body1, $bold);
  padding-left: 32px;
  width: 100%;
  max-width: 500px;
  gap: 16px;
}

.property_modal_title_type {
  width: 100%;
}

.property_modal_title_name {
  width: 100%;
}

.property_modal_content {
  @include flex(row, center, flex-start);
  width: 100%;
  flex: 1;
}

.property_modal_add_button {
  @include flex-center;
  width: 100%;
}

.property_modal_input {
  @include flex(row, flex-start, center);
  gap: 16px;
}

.property_modal_delete {
  @include font($h5, $bold);
  width: 16px;
}

.proerty_button {
  @include flex(row, flex-end, flex-end);
  width: 100%;
  gap: 5px;
}
