$loader-width: 250px;
$loader-dot-size: 20px;

.container {
  @include flex(column, center, center);
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 1000;
  overflow: hidden;
  top: 0;
  left: 0;
}

.content {
  @include flex(column, center, center);
  @include shadow-modal;
  background-color: $white;
  height: 260px;
  width: 80vw;
  max-width: 600px;
  padding: 16px;
  border-radius: $radius-modal;
}

.loader {
  height: 45px;
  width: $loader-width;
}

@keyframes loader {
  15% {
    transform: translateX(0);
  }

  45% {
    transform: translateX($loader-width - $loader-dot-size);
  }

  65% {
    transform: translateX($loader-width - $loader-dot-size);
  }

  95% {
    transform: translateX(0);
  }
}

.loader_dot {
  animation-name: loader;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: $loader-dot-size;
  width: $loader-dot-size;
  border-radius: 100%;
  position: absolute;
  border: 2px solid $white;

  &:first-child {
    background-color: $muscat;
    animation-delay: 0.5s;
  }

  &:nth-child(2) {
    background-color: $ocean;
    animation-delay: 0.4s;
  }

  &:nth-child(3) {
    background-color: $sherbet;
    animation-delay: 0.3s;
  }

  &:nth-child(4) {
    background-color: $lilac;
    animation-delay: 0.2s;
  }

  &:nth-child(5) {
    background-color: $marmalade150;
    animation-delay: 0.1s;
  }

  &:nth-child(6) {
    background-color: $muscat;
    animation-delay: 0s;
  }
}

.desc1 {
  @include font($body2, $semibold);
  line-height: 26.4px;
  text-align: center;
  @include tablet {
    @include font($h5, $semibold);
  }
}

.desc2 {
  @include font($caption, $semibold, $danger-color);
  height: 30px;
  text-align: center;
  @include tablet {
    @include font($body1, $semibold, $danger-color);
  }
}
