.NFT_detail_header {
  @include flex(row, center, flex-start);
  position: relative;
  padding: 40px 0px;
  background-color: $white200;
  .NFT_detail_header_image {
    @include flex(column, flex-start, center);
    //TODO_JK: 뷰포트로 적용안되는 오류
    width: 100vw;
    gap: 40px;
    background-color: $white200;

    img {
      border-radius: $radius-card;
      width: 320px;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }

  .NFT_detail_header_left_icon {
    position: absolute;
    top: 40px;
    left: 0;
  }
  .NFT_detail_header_right_icon {
    @include flex(row, center, flex-start);
    gap: 32px;
    position: absolute;
    top: 24px;
    right: 0;
  }
}
