.NFT_detail_transaction_price {
  @include flex(row, space-between, center);
  width: 100%;
  gap: 40px;

  .NFT_detail_transaction_price_content {
    @include flex(column, flex-start, flex-start);
    @include font($body2, $medium, $main-font);
    gap: 8px;
    flex-shrink: 0;

    strong {
      font-size: $h5;
    }
  }

  .NFT_detail_transaction_price_description {
    @include font($caption, $regular, $black200);

    @include tablet {
      font-size: $body2;
      line-height: 24px;
    }

    p {
      display: inline;
      text-align: right;

      @include tablet {
        display: block;
      }
    }

    strong {
      font-weight: $semibold;
      color: $main-font;
    }
  }
}

.NFT_detail_transaction_form {
  width: 100%;

  .NFT_detail_transaction_input {
    @include flex-center;
    width: 100%;
    margin-bottom: 40px;
    label {
      width: 40%;
      font-weight: $bold;

      @include tablet {
        width: 30%;
      }
    }

    div {
      width: 60%;
      min-height: 59px;
    }
  }
}
