.value {
  padding: 8px;
  border-radius: 4px;
  @include shadow-drop4;
  @include font($body2, $bold, $black350);
  background: $white;
  margin-bottom: 1px;
  width: 100%;
  z-index: -10;
  border: 2px solid $white;
  box-sizing: border-box;
  text-align: start;

  &:hover {
    border: 2px solid $muscat;
  }
}
