.card_list {
  width: 100%;

  @include mobile {
    @include grid(100%);
    row-gap: 24px;
  }

  @include tablet {
    @include grid(calc((100% - 40px) / 2));
    column-gap: 40px;
    row-gap: 40px;
  }

  @include laptop {
    @include grid(calc((100% - 60px) / 3));
    column-gap: 48px;
    row-gap: 48px;
  }
  @include desktop {
    @include grid(calc((100% - 128px) / 3));
    column-gap: 48px;
    row-gap: 48px;
  }
}