.section {
  width: 100%;
  margin-bottom: 32px;
  padding: 24px;

  @include shadow-modal;
  @include flex(column);
  padding: 32px 4% 32px 4%;

  @include tablet {
    margin-bottom: 64px;
    padding: 32px;
  }

  @include laptop {
    margin-bottom: 128px;
    padding: 32px 4% 32px 4%;
  }
}

.column {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  @media (max-width: 900px) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, auto));
    justify-content: space-between;
    gap: 10%;
  }
}

.tile {
  @include font($h5, $regular);
  margin-bottom: 8px;

  @media (max-width: 500px) {
    @include font($body1, $regular);
  }
}

.content {
  @include font($h4, $semibold);

  @media (max-width: 500px) {
    @include font($h5, $regular);
  }
}

.plus {
  color: $sherbet150;
}

.minus {
  color: $ocean200;
}
